// RESET COLORS VARIABLES
$background-color: hsl(0, 0%, 7%);
$text-color-primary: hsl(24, 61%, 77%);
$text-color-primary-dark: hsl(24, 82%, 59%);
$text-color-secondary: hsl(0, 0%, 7%);
$text-white: hsl(0, 0%, 100%);


// HEADER SECTION VARIABLES
$header-background: hsl(0, 0%, 100%);